.game {
    margin: auto;
    padding: 1vmin;
    max-width: 600px;
    min-width: 240px;
    max-height: 600px;
    min-height: 240px;
}

.gameBoard {
    display: block;
    text-align: center;
    margin: auto;
    padding: .5% 0;
    width: 100%;
    background-color: #444;
}

.cell {
    background-color: #888;
    display: inline-block;
    width: 31%;
    padding-top: 31%;
    margin: 1%;
    border-radius: 15%;
}

.cellX {
    background-image: url("../../assets/cross.png");
    background-color: #888;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.cellO {
    background-image: url("../../assets/nought.png");
    background-color: #888;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
